/* Posts section styles */




/* Media query for responsiveness */
/* @media (max-width: 768px) {
    .posts-section {
        flex-direction: column;
    }

    .left-column {
        flex: 1;
        padding-right: 0;
    }

    .right-column {
        flex: 1;
    }

    .post-card,
    .sidebar {
        width: 100%;
    }
}

html {
    height: 100%;
    width: 100%;
  }
  
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #F9943B;
  }
  
  .h-custom {
    height: calc(100% - 73px);
  }
  
  @media (max-width: 450px) {
    .h-custom {
      height: 100%;
    } 
  }




